doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Virtual Reality

    link(rel='stylesheet', type='text/css', href='build/build.css')
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">


  body

    article.slide
      section
        img(src="images/fgt.gif" class='fill')
        .credit Kami mengucapkan Terimakasih kepada :&nbsp;
          a(href="http://www.mikroskil.ac.id",target="off") Google , Pak Rudy , All Fake Friend
      
        .box.left
          h1 <span class="animated infinite bounce">Virtual-Reality-2017</span>
          h2 <strong>by</strong>
          .mid Dubasata
          img(src="images/tiar2.jpg" class='me')
          img(src="images/tere.jpg" class='me')
          img(src="images/tiar.jpg" class='me')
          <br>
          <br>
          p.center Tiartha Sitanggang - 151112416
            h2 A <a href="https://www.npmjs.com/browse/keyword/bespoke-theme" target="off">Bespoke.js</a> theme
        
      

    
          


      section.emphatic-text(data-bespoke-backdrop='emphatic')
        img(src="images/vr2.jpg" fill)
      
      section
        img(src="images/vr1.jpg" class='fill')
        <div class = 'aka'>
        h2 aham
        </div>   
        
       
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Sejarah Virtual Reality 
        p Morton Heilig menulis pada 1950-an tentang "Teater Pengalaman" yang dapat meliputi semua indera dengan suatu cara efektif, sehingga menarik penonton ke dalam kegiatan di layar. Ia membangun suatu prototipa dari visi nya yang di namakan Sensorama pada 1962, bersama dengan lima film pendek untuk dipertunjukkan di dalamnya sembari melibatkan berbagai indera (penglihatan, pendengaran, penciuman, dan sentuhan). </p>
     
      section
      
        h2 Keyboard Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')